// COLOR
$base-white: #ffffff;
$bg-white: #fafafa;
$header-box-shadow: rgba(0, 0, 0, 0.12);
$dark-blue: #38539a;
$base-black: #2c2c2c;

// typography
@mixin typ-16-font {
  font-size: 16px;
  line-height: 24px;
}

@mixin typ-14-font {
  font-size: 14px;
  line-height: 16px;
}

//RESPONSIVE
@mixin xs-mobile {
  @media only screen and (max-width: 376px) {
    @content;
  }
}
@mixin sm-mobile {
  @media only screen and (max-width: 426px) {
    @content;
  }
}
@mixin md-tablet {
  @media only screen and (max-width: 769px) {
    @content;
  }
}
