@import "./base.module.scss";

.container {
  color: $base-black;

  .carousel_image_container {
    @include gradient-bg;
  }
  .carousel_image {
    height: 400px;
  }
  .page_children_container {
    padding: 0 5rem;
  }
}
@include sm-mobile {
  .container {
    .page_children_container {
      padding: 0 1rem;
    }
  }
}
