@import "../../base.module.scss";

.left_container {
  color: $base-black;
  max-width: 60%;
  .greet_school {
    margin-left: 0.5rem;
  }
  .school_message {
    margin: 0;
    font-size: 14px;
    line-height: 21px;
  }
}
.right_container {
  max-width: 40%;
  margin: 1rem 2rem;
}
