@import "../../base.module.scss";

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
.announcement_bar {
  @include gradient-bg;
  height: 44px;
  padding: 0 5rem;
  white-space: nowrap;
  box-sizing: border-box;

  .message {
    overflow: hidden;
    width: 100%;
    padding: 0;
    p {
      display: inline-block;
      width: 100%;
      padding-left: 100%;
      animation: marquee 30s linear infinite;
      margin: 0;
      padding: 0;
      padding-left: 100%;
    }
  }
}
