@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
.announcement_bar {
  height: 44px;
  white-space: nowrap;
  box-sizing: border-box;
  background: linear-gradient(
    90deg,
    rgba(255, 115, 17, 0.25) 0%,
    rgba(238, 130, 130, 1) 100%
  );
  .message {
    overflow: hidden;
    width: 100%;
    padding: 0;
    p {
      display: inline-block;
      width: 100%;
      padding-left: 100%;
      animation: marquee 30s linear infinite;
      margin: 0;
      padding: 0;
      padding-left: 100%;
    }
  }
}
